.container {
  background-color: black;
  height: 600px;
  width: 440px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.blanket {
  background-color: white;
  height: 80px;
  width: 440px;
  border: 1px solid black;
  position: fixed;
  box-sizing: border-box;
}

.smallDiv {
  height: 6.66%;
  width: 10%;
  border: 1px black solid;
  box-sizing: border-box;
}

.emptyDiv {
  background-color: grey;
}

.redDiv {
  background-color: red;
}

.blueDiv {
  background-color: blue;
}

.yellowDiv {
  background-color: yellow;
}

.greenDiv {
    background-color: green;
}
